<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antfyv2">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AntfyV2">
        <activity
            android:name=".ConsultasActivity"
            android:parentActivityName=".PerfilActivity"/>
        <activity
            android:name=".DateActivity"
            android:parentActivityName=".AgendarActivity"/>
        <activity
            android:name=".AgendarActivity"
            android:parentActivityName=".SentindoActivity"/>
        <activity
            android:name=".SentindoActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".NotifyActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".PerfilActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/antfyABTitle" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/antfyABTitle" />
        <activity
            android:name=".EntrarActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/antfyABTitle" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
